#form-cnt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    display: block;
    padding: 5px 0;
}

input {
    display: inline-block;
    padding: 12px;
    background-color: #efefed;
    
    border: none;
    border-radius: 4px;

    width: 250px;
}

#form-btn {
    margin-top: 12px;
    width: 250px;
    font-size: 1.2rem;;
}


.invalid {
    font-size: 0.9rem;
    font-style: italic;
}