nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav-logo {
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    display: inline-block;
    color: black;
}

.nav-btn a {
    color: black;
}