@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Noto+Serif+KR:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Noto+Serif+KR:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {  
    --purp2: #977dff;
    --purp: #d2ccfc;
    --black: #1b283a;
    --white: #f3ece0;
    --acc: #f2e6ee;
}
.container{
    font-family: 'Poppins';
    border: none;
}

h1{
    font-size: 4rem;
    margin-right: 10px;
    font-family: 'Nunito Sans';
    font-weight: 900;
}

.card-frame .card-title{
    color: var(--black);
    font-weight: 700;
}
.lbl-subtxt{
    font-size: 1.2rem;
    padding-top: 0;
    margin-left:10px ;

}

.inp-search{
    background-image: linear-gradient(45deg, var(--acc), var(--purp));
    color: var(--black);
    font-weight: 500;
    width: 450px;
    padding: 10px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.inp-search:focus{
    border: 1px solid var(--black);
    box-shadow: 0 0px 5px var(--purp); 
}

.btn-create{
    background-color: var(--black);
    padding: 10px 30px;
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 1px #3a3a3a;  
    text-decoration: none;
    box-shadow: 0 1px 3px grey;
    
      transition: ease 0.2s;
}

.card-frame{
    border: 1px solid var(--black);
   box-shadow: 0 0px 7px var(--purp); 
   border-radius: 10px;
}

.short{
    margin-top: 10px;
    font-size: 1.2rem;
    text-decoration: underline;
    text-decoration-color: var(--purp2);
    color: var(--purp2);
}

.btn-del{
    background-color: var(--black);
    padding: 5px 10px;
    color: var(--white);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px grey;
    
    transition: ease 0.2s;
}

.btn-edit{
    padding: 5px 10px;
    color: var(--black);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, var(--acc), var(--purp));
    box-shadow: 0 1px 3px grey;
    
    transition: ease 0.2s;
}

.btn-copy{
    background-color: rgb(238, 238, 238);
    padding: 5px 10px;
    margin-bottom: 15px;
    color: var(--black);
    font-weight: 600;
    border: 2px solid var(--black);
    border-radius: 5px;

    
      transition: ease 0.2s;
}


.btn-edit:hover, .btn-create:hover, .btn-copy:hover, .btn-del:hover{
    transform: scale(1.1);
}
