@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Noto+Serif+KR:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {  
    --pink: #FFD4FB;
    --green: #C4ECB0;
    --black: #0b1009;
    --white: #fbf6f2;
}
.container{
    font-family: 'Poppins';
    border: none;
}

h1{
    font-size: 4rem;
    font-family: 'Poppins';
    font-weight: bolder;
}

.subtxt{
    margin-left:10px ;
}

.inp-search{
    background-color: var(--white);
    color: var(--black);
    width: 450px;
    padding: 5px 10px;
    border: 1px solid var(--black);
    border-radius: 3px;
}

.btn-create{
    background-color: var(--green);
    padding: 5px 13px;
    color: var(--black);
    font-weight: 700;
    border: none;
    border-radius: 5px;
      box-shadow: 0 1px 1px #3a3a3a;  
    text-decoration: none;
    
      transition: ease 0.2s;
}

.btn-copy{
    background-color: lightgray;
    border: 2px solid rgb(102, 102, 102);
    margin-bottom: 10px;
}

.btn-del{
    background-color: var(--black);
    padding: 2px 10px;
    color: var(--green);
    font-weight: 600;
    border: none;
    border-radius: 5px;
      box-shadow: 0 1px 1px #3a3a3a;  
    
      transition: ease 0.2s;
}

.btn-edit{
    background-color: var(--pink);
    padding: 2px 10px;
    color: var(--black);
    font-weight: 600;
    border: none;
    border-radius: 5px;
      box-shadow: 0 1px 1px #3a3a3a;  
    
      transition: ease 0.2s;
}

.btn-copy{
    background-color: lightgrey;
    padding: 2px 10px;
    color: rgb(78, 78, 78);
    font-weight: 500;
    border: 3px rgb(131, 131, 131);
    border-radius: 3px;
    
      transition: ease 0.2s;
}


.btn-edit:hover{
    transform: scale(1.1);
}
.btn-del:hover{
    transform: scale(1.1);
}

#title{
    font-family: 'Poppins';
}